{% extends "base.html" %}

{% block content %}
<div class="row">
<p>Here is the group of people from across the University of Southampton who have taken it upon themselves to make Erica a reality.</p>


<h4>Team Erica</h4>
<ul>
<li>Kirk Martinez &#8211; ECS</li>
<li>Jon Hare &#8211; ECS</li>
<li>Philip Basford - ECS</li>
<li>Reena Pau &#8211; Outreach</li>
<li>Tyler Ward - ECS</li>
<li>David Newman - ECS</li>
<li>Mike Jewell - ECS</li>
<li>Ash Smith - iSolutions</li>
<li>Richard Gomer - ECS</li>
<li>Sina Samangooei - ECS</li>
<li>Rikki Prince - ECS</li>
<li>Ghaithaa Manla - ECS</li>
<li>Darren Richardson - ECS</li>
<li>Adam Cunnington - Management</li>
<li>Rebecca Tabor - Management</li>
<li>Harriet Kumari - Management</li>
<li>Erica Hayes - Management</li>
<li>Alice Coulton - Management</li>
<li>Katie Elsom - Management</li>
<li>Lisa Harris - Senior Marketing Lecturer</li>
<li>Ronise Nepomuceno - iSolutions</li>
<li>Les Carr - ECS</li>
<li>Mark Weal - ECS</li>
<li>Tim Chown - ECS</li>
</ul>
<h4>Artwork</h4>
<ul>
<li>Christopher Clancy</li>
</ul>
<h4>Sound Effects</h4>
<ul>
	<li><!--<a href="http://www.freesound.org/people/Daxter31/sounds/114609/">-->Snoring - Daxter31</li>
	<li><!--<a href="http://www.freesound.org/people/lauriesafari/sounds/169904/">-->Yawn - lauriesafari</li>
	<li><!--<a href="http://www.freesound.org/people/thecheeseman/sounds/51360/">-->Camera Snap - thecheeseman</li>
	<li><!--<a href="http://www.freesound.org/people/tigersound/sounds/9328/">-->Tweet - tigersound</li>
	<li><!--<a href="http://www.freesound.org/people/Zajjman/sounds/171519/">-->Sneeze - Zajjman</li>
	<li><!--<a href="http://www.youtube.com/watch?v=0XrtOe70fJ8">-->Rhino Sounds - AlexTriceratops123</li>
	<li><!--<a href="http://www.freesound.org/people/smokenweewALT/sounds/177050/">-->Windbreak - smokenweewALT</li>
</ul>
</div>
<div class="row">
	<a href="/" class="span12 btn btn-large">Back</a>
</div>
{% endblock %}
