{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span12 well well-small">
		<h5><center><i class="icon-lightbulb icon-large"></i>&nbsp;Erica's Advice</center></h5>
		<p><center>{{lines|random|safe}}</center></p>
	</div>
</div>
<div class="row">
	<div class="span12">
		<center>
			<a href="/mood" class="span11 btn btn-large menubtn">Erica's Mood</a>
		</center>
	</div>
</div>
<div class="row">
	<div class="span12">
		<center>
			<a href="/credits" class="span11 btn btn-large menubtn">Erica's Creators</a>
		</center>
	</div>
</div>
{% endblock %}
